.menu-lateral {
    background-color: #000;
    width: 17.3611111vw;
    height: 100vh;
    font-size: 1.11111111vw;
    font-weight: 900;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.61111111vw;

    .image-logo {
        height: 4.94027778vw;
    }

    .menu-items {
        display: flex;
        flex-direction: column;
        gap: 2.56944444vw;

        .menu-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.634027778vw;
            color: #fff;
            list-style: none;

            img {
                width: 10.3819444vw;
                height: 5.66666667vh;
            }
        }
    }

    .setting-links {
        display: flex;
        align-items: center;
        gap: 1.11111111vw;

        margin-top: 5.48611111vh;
        color: #fff;
        text-decoration: none;
        img {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(353deg) brightness(103%) contrast(104%);
        }
    }

}