<section class="menu-lateral">
    <h1>
        <img src="../../../../assets/images/logo.png" alt="Star Wars Logo" class="image-logo">
    </h1>

    <nav>
        <ul class="menu-items">
            <li class="menu-item">
                <img src="../../../../assets/images/dashboard.svg" alt>
                <p>Dashboard</p>
            </li>
            <li class="menu-item">
                <img src="../../../../assets/images/personagens.svg" alt>
                <p>Personagens</p>
            </li>
            <li class="menu-item">
                <img src="../../../../assets/images/planetas.svg" alt>
                <p>Planetas e luas</p>
            </li>
            <li class="menu-item">
                <img src="../../../../assets/images/nave.svg" alt>
                <p>Naves especiais</p>
            </li>
        </ul>
    </nav>

    <a href="#" class="setting-links">
        <img src="../../../../assets/images/settings.svg" alt>
        <p>Settings</p>
    </a>
</section>