.chart-area {
    background-color: #fff;
    width: 27.01388889vw;
    height: 27.1666667vw;
    padding: 2.84722222vw;
    box-shadow: 0 0.277777778vw 1.04166667vw rgba(0, 0, 0, 0.25);
    border-radius: 1.11111111vw;

    h3 {
        font-weight: 700;
        font-size: 1.25vw;
        padding-bottom: 0.555555556vw;
    }
}