<div class="cards">
    <div class="card">
        <div class="card__infos">
            <p class="card-title">Personagens</p>
            <span class="card-number" *ngIf="characters">{{ characters.count }}</span>
        </div>
        <div class="card__image">
            <img src="../../../assets/images/personagens-black.svg" alt>
        </div>
    </div>

    <div class="double-cards">
        <div class="double-card">
            <div class="double-card__infos">
                <p class="card-title">Luas</p>
                <span class="card-number" *ngIf="vehicles">8</span>
            </div>
            <div class="card__image">
                <img src="../../../assets/images/luas-black.svg" alt>
            </div>
        </div>
        <span class="divisor"></span>
        <div class="double-card">
            <div class="double-card__infos">
                <p class="card-title">Planetas</p>
                <span class="card-number" *ngIf="planets">{{ planets.count }}</span>
            </div>
            <div class="card__image">
                <img src="../../../assets/images/planetas-black.svg" alt>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card__infos">
            <p class="card-title">Naves</p>
            <span class="card-number" *ngIf="vehicles">{{ vehicles.count }}</span>
        </div>
        <div class="card__image">
            <img src="../../../assets/images/nave-black.svg" alt>
        </div>
    </div>
</div>